**/.*
**/__pycache__
**/*.egg-info
**/*.csv
**/*.parquet
**/*.json
**/*.tgz
**/dist
**/build
**/coverage
**/node_modules
tests/test.db
models
**/*.png

# DevContainer entries
.cache/
.docker/
.dotnet/
.gitconfig
.gnupg/
.ssh/
.sudo_as_admin_successful
.vscode-server/
.bash_history
# Exceptions
!src/licodex/milvus/collection/config/notes.json
!.vscode
!.devcontainer
!.devcontainer/devcontainer.json
!.vscode/*.json
!package*.json
!**/quotes.json
!**/tsconfig.json
!**/tsconfig.base.json
!**/tsconfig.build.json
!**/tsconfig.cjs.json
!.env.example
!.bashrc
!.githooks
!.gitignore
