-r db/python-requirements.txt
-r core/python-requirements.txt
-r services/python-requirements.txt
-r schemas/python-requirements.txt
-r repositories/python-requirements.txt
-r alembic/python-requirements.txt
-r milvus/python-requirements.txt
-r api/python-requirements.txt
-r mcp/python-requirements.txt
