sudo
python3-pip
ca-certificates
wget
zsh
zip
unzip
curl
nano
jq
tree
python-is-python3
bash-completion
net-tools
iproute2
iputils-ping
netcat-traditional
lsof
postgresql-client
locales
locales-all
dnsutils
tmux
python3-venv
python3-dev
python3
python3-pip
build-essential
git
telnet
git-lfs
openssh-client
imagemagick
nginx
ufw
