sudo
python3-pip
ca-certificates
wget
zsh
zip
unzip
curl
nano
jq
tree
python-is-python3
bash-completion
net-tools
iproute2
iputils-ping
netcat-traditional
lsof
postgresql-client
locales
locales-all
dnsutils
tmux
